
h1{
  font-family: 'Yuji Hentaigana Akebono', cursive;
}

h1 + p{
  font-family: 'Noto Sans JP', sans-serif;
}

p + p{
   font-family: 'AnarchistMustacheRegular';
   font-weight: normal;
   font-style: normal;
}
